# SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

# IDE files:
/.idea/
/.vs/
*.user

# Generated documentation:
/docs/_site/
/docs/api/

# Project binaries:
bin/
obj/
