# SPDX-FileCopyrightText: 2024-2026 Todosaurus contributors <https://github.com/ForNeVeR/Todosaurus>
#
# SPDX-License-Identifier: MIT

# IDE files:
.idea/
.vs/
*.user

# IntelliJ Platform Gradle Plugin storage:
.intellijPlatform/

# .NET binaries:
bin/
obj/

# Gradle build files:
.gradle/
.kotlin/
build/
